*{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  font-size: 12px;
}

.banner_container{
  background-image: url(../img/samsung_galaxy.jpg);
  height: 30%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.text_container{
  text-align: center;
  align-self: flex-end;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  min-height: 46px;
  justify-content: center;
  width: 100%;
}

.text_container h1{
  font-size: 3vh;
}

.text_container p{
  font-size: 2vh;
}

.produkter_container{
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.produkter_container img{
width: 33vw;
}

.telefon_modeller_container{
  display: flex;
  justify-content: center;
}
