*{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  font-size: 12px;
  overflow-x: hidden;
}

h1{
font-family: lft-etica, sans-serif;
font-weight: 700;
font-style: normal;
}

p{
font-family: lft-etica, sans-serif;
font-weight: 400;
font-style: normal;
}

.banner_container{
  position: relative;
  background-image: url(../img/samsung_galaxy.jpg);
  height: 40%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.pil_venstre{
  height: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}

.pil_hoejre{
  height: 40%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.text_container{
  text-align: center;
  align-self: flex-end;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  min-height: 46px;
  justify-content: center;
  width: 100%;
}

.text_container h1{
  font-size: 3vh;
}

.text_container p{
  font-size: 2vh;
}

.produkter_container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #34823E;
}


.produkter_container img{
  width: 33vw;
}

.produkter_container p{
text-align: center;
font-size: 4em;
color: white;
}

.telefon_modeller_container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.telefon_modeller_container img{
  width: 100%;
}

.telefon_modeller_container p{
  text-align: center;
  font-size: 4em;
}

.pil_venstre_telefon_sektion{
  position: absolute;
  right: 40%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.pil_hoejre_telefon_sektion{
  position: absolute;
  left: 40%;
  height: 50%;
  top: 50%;
  transform: translateY(-50%);
}



.footer{
  background-color: #388046;
  width: 100vw;
  height: 600px;
}
